body {
    background: #110C0A;
}
.card {
    background: #1B1717;
}
.regularButton {
    background-color: #6b665e;
    font-size: 28px;
    padding: 8px;
    border: 2px solid #987849;
    color: #FFF;
    text-align: center;
}



